---
const { href, newTab } = Astro.props
---

<a
    href={href}
    target={newTab ? "_blank" : undefined}
    class="intersect:motion-preset-rebound-up intersect-once brightness-90 hover:brightness-100 hover:duration-300"
>
    <slot />
</a>