@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.wheel {
    @apply relative w-96 h-96 flex justify-center items-center;
    border-radius: 50%;
    animation: spin 10s linear infinite;
}

.wheel.paused  {
    animation-play-state: paused;

    & .wheel-content {
        animation-play-state: paused;
    }
}

.wheel-item {
    @apply rounded-full bg-secondary-1 absolute w-16 h-16 flex flex-col justify-center items-center z-10;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.wheel-item img {
    @apply w-10 h-10;
    transition: transform 0.3s ease;
}

.wheel-item h4 {
    @apply text-xl text-center text-white font-extrabold mt-1;
}

.wheel-item span {
    @apply text-sm;
}

.wheel-item.active {
    @apply w-48 h-48 bg-secondary-2 z-20;
}

.wheel-item.active img {
    transform: scale(1.3);
}

.wheel-content {
    @apply flex flex-col gap-1 justify-center items-center;
    animation: counter-spin 10s linear infinite;
}