---
import Layout from '../layouts/Layout.astro';

import Welcome from '../components/Welcome.astro';
import Skillset from "../components/Skillset.astro"
import Stack from "../components/Stack.astro"
import Projects from "../components/Projects.astro"
import Guides from "../components/Guides.astro"

import Navigation from '../components/react/Navigation';
import Flair from '../components/helper/Flair.astro';
---

<Layout>
    <main class="min-h-screen">
        <Navigation client:load />
        <div class="[&>section]:p-10 bg-gradient-to-br from-primary-1 to-primary-2">
            <Welcome />
            <Skillset />
            <Stack />
            <Projects />
            <Guides />
            <div class="pt-4 pb-8 flex justify-center">
                <a href="https://github.com/gamemann/portfolio" target="_blank">
                    <Flair className="bg-blue-700">Source Code</Flair>
                </a>
            </div>
        </div>
    </main>
</Layout>
