---
import Layout from '../layouts/Layout.astro';

import Welcome from '../components/Welcome.astro';
import Skillset from "../components/Skillset.astro"
import Stack from "../components/Stack.astro"
import Projects from "../components/Projects.astro"
import Guides from "../components/Guides.astro"

import Navigation from '../components/react/Navigation';
---

<Layout>
    <main class="min-h-screen">
        <Navigation client:load />
        <div class="[&>section]:min-h-screen [&>section]:p-10 [&>section]:bg-gradient-to-br even:from-primary-1 even:to-primary-2 odd:from-secondary-1 odd:to-secondary-2">
            <Welcome />
            <Skillset />
            <Stack />
            <Projects />
            <Guides />
        </div>
    </main>
</Layout>
