---
import Layout from '../layouts/Layout.astro';

import Welcome from '../components/Welcome.astro';
import Skillset from "../components/Skillset.astro"
import Stack from "../components/Stack.astro"
import Projects from "../components/Projects.astro"
import Guides from "../components/Guides.astro"

import Navigation from '../components/react/Navigation';
---

<Layout>
    <main class="min-h-screen">
        <Navigation client:load />
        
        <Welcome />
        <Skillset />
        <Stack />
        <Projects />
        <Guides />
    </main>
</Layout>
