<section id="about-me">
    <div class="container mx-auto [&>p]:sm:intersect:motion-preset-blur-up-lg sm:intersect-once [&>p:not(:first-child)]:mt-4">
        <h2 class="text-white text-3xl font-extrabold mb-4">About Me</h2>
        <p>I'm a DevOps Engineer with over a decade of hands-on experience in development, automation, and system administration. My journey in tech began at 13 when I founded a gaming community, managing dedicated servers on both Linux and Windows. This early exposure fueled my passion for problem-solving and infrastructure management.</p>

        <p>Since then, I've built and optimized various web applications, networking tools, and automation solutions, working across technologies like firewalls, cloud infrastructure, web scraping, and security. I thrive on creating efficient, scalable systems and enjoy sharing my knowledge through detailed guides and technical documentation.</p>
    </div>
</section>