---
import Item from "../components/guide/Item.astro"
---

<section id="guides">
    <div class="mx-auto container">
        <h2 class="text-white text-3xl font-extrabold mb-4">My Popular Guides</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <Item
                banner="/images/guide/steam-link-setup.webp"
                title="How To Setup Steam Link On Raspberry Pi 4"
                link="https://forum.moddingcommunity.com/t/how-to-setup-steam-link-on-a-raspberry-pi-4-1080p-120hz/42"
                category="Gaming"
                source="TMC"
            >
                How to setup Steam Link onto a Raspberry Pi 4.
            </Item>
            <Item
                banner="/images/guide/how-to-install-rdr2-mods.jpeg"
                title="How To Install Mods In RDR2"
                link="https://forum.moddingcommunity.com/t/how-to-install-mods-in-rdr2/204"
                category="Gaming"
                source="TMC"
            >
                How to install mods in Red Dead Redemption 2 (RDR2) on PC, including instructions on how to use a popular mod loader, Lenny's Mod Loader (LML)!.
            </Item>
            <Item
                banner="/images/guide/how-to-run-steamcmd.png"
                title="How To Download & Run SteamCMD"
                link="https://forum.moddingcommunity.com/t/how-to-download-run-steamcmd/190"
                category="Gaming"
                source="TMC"
            >
                How to download and run SteamCMD on both Linux and Windows.
            </Item>
            <Item
                banner="/images/guide/how-to-setup-l4d2-server-with-mods.jpeg"
                title="How To Make A Left 4 Dead 2 Server With Mods"
                link="https://forum.moddingcommunity.com/t/how-to-make-a-left-4-dead-2-server-with-mods/203"
                category="Gaming"
                source="TMC"
            >
                How to create and run a Left 4 Dead 2 server with mods on both Windows and Linux.
            </Item>
            <Item
                banner="/images/guide/how-to-setup-gmod-server-with-mods.png"
                title="How To Make A Garry's Mod Server & Install Addons"
                link="https://forum.moddingcommunity.com/t/how-to-make-a-garrys-mod-server-install-addons/41"
                category="Gaming"
                source="TMC"
            >
                How to make and run a Garry's Mod server with mods (addons) on both Windows and Linux!
            </Item>
            <Item
                banner="/images/guide/dynamic-fields-with-formik.png"
                title="How To Create Forms With Dynamic Fields using React And Formik"
                link="https://deaconn.net/blog/view/react-form-with-dynamic-fields-and-formik"
                category="Technology"
                source="Deaconn"
            >
                How to create dynamic fields using React with Formik.
            </Item>
            <Item
                banner="/images/guide/how-to-launch-a-dos-attack-and-drop-it.png"
                title="How To Launch A DoS Attack & Drop It"
                link="https://deaconn.net/blog/view/how-to-launch-a-dos-attack-and-drop-it"
                category="Security"
                source="Deaconn"
            >
                How to launch a DoS attack and drop it.
            </Item>
            <Item
                banner="/images/guide/basic-linux-security.jpeg"
                title="Basic Linux Security"
                link="https://deaconn.net/blog/view/basic-linux-security"
                category="Security"
                source="Deaconn"
            >
                How to secure a Linux server with OpenSSH, IPTables, and more.
            </Item>
            <Item
                banner="/images/guide/mtr-traceroute-guide.png"
                title="MTR/Trace Route Guide"
                link="https://deaconn.net/blog/view/mtr-and-traceroute-guide"
                category="Networking"
                source="Deaconn"
            >
                How to use MTRs and trace routes to diagnose network issues.
            </Item>
        </div>
    </div>
</section>