---
import Item from "../components/skill/Item.astro"
---

<section class="min-h-screen bg-gradient-to-br from-purple-900 to-purple-950">
    <h2>My Skillset</h2>
    <div class="grid grid-cols-3">
        <Item
            title="Software Developer"
        >
            I am a software developer.
        </Item>
        <Item
            title="Web Developer"
        >
            I am a web developer.
        </Item>
        <Item
            title="Network Engineer"
        >
            I am a network engineer.
        </Item>
        <Item
            title="Network Security"
        >
            I am a network security.
        </Item>
        <Item
            title="Game Developer"
        >
            I am a game developer.
        </Item>
    </div>
</section>