---
import Item from "../components/stack/Item.astro"
---

<section class="min-h-screen bg-gradient-to-br from-indigo-900 to-indigo-950">
    <h2>My Stack</h2>
    <div class="grid grid-cols-3">
        <Item
            title="TS/JS"
            expLevel="Efficient"
        />
        <Item
            title="CSS"
            expLevel="Efficient"
        />
        <Item
            title="HTML"
            expLevel="Efficient"
        />
        <Item
            title="Go"
            expLevel="Efficient"
        />
        <Item
            title="Python"
            expLevel="Efficient"
        />
        <Item
            title="C"
            expLevel="Efficient"
        />
        <Item
            title="Rust"
            expLevel="Medium"
        />
        <Item
            title="Docker"
            expLevel="Efficient"
        />
        <Item
            title="Kubernetes"
            expLevel="Medium"
        />
        <Item
            title="Linux"
            expLevel="Efficient"
        />
    </div>
</section>