<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Christian Deacon's Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html, body {
        @apply m-0 w-full h-full text-gray-100;
	}

    h1 {
        @apply text-4xl;
    }

    section {
        @apply p-6;
    }
    
</style>
