---
import "../styles/global.css"

import "@fontsource/poppins/700.css"

const GA = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Christian Deacon's Portfolio</title>
        <meta name="description" content="Christian Deacon's portfolio. A DevOps engineer with 10+ years experience." />
        {GA && (
            <>
                <script async src={`https://www.googletagmanager.com/gtag/js?id=${GA}`}></script>
                <script define:vars={{ GA }}>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', GA);
                </script>
            </>
        )}
	</head>
	<body>
		<slot />
	</body>
</html>